{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
     &nbsp  Manage Doctors
{% endblock page_title %}

{% block custom_css %}
    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>

{% endblock %}


{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">

{#            <a class="btn btn-primary" href="{% url 'add_doctor' %}" role="button">+ Add Doctor</a> <br/>&nbsp;#}




            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 4px">Doctors Details</h3>&nbsp&nbsp
                            <a class="btn btn-outline-primary btn-sm " href="{% url "add_doctor" %}" role="button">+
                                Add Doctor</a>
                            <div class="card-tools">
                                <form method='get' action="{% url 'doctor_search' %} ">
                                    <div class="input-group input-group-sm" style="width: 250px;">
                                        <input type="text" name="q" class="form-control float-right"
                                               placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr class="text-center">
                                    {#                                    <th>ID</th>#}
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Department</th>
                                    <th>Email</th>
                                    <th>Profile_pic</th>
                                    <th>Age</th>
                                    <th>Contact number</th>
                                    <th>Created time</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for doctor in page_obj %}
                                    <tr class="text-center">
                                        {#                                        <td>{{ doctor.id }}</td>#}
                                        <td>{{ doctor.admin.first_name }}</td>
                                        <td>{{ doctor.admin.last_name }}</td>
                                        <td>{{ doctor.department }}</td>
                                        <td>{{ doctor.admin.email }}</td>
                                        <td><img src="{{ doctor.profile_pic }}" style="width: 100px;height: auto"></td>
                                        <td>{{ doctor.age }}</td>
                                        <td>{{ doctor.contact_number }}</td>
                                        <td>{{ doctor.created_at }}</td>

                                        <td>
                                            <a href="{% url 'edit_doctor' doctor.admin.id %}" class="btn btn-success">Edit</a>
                                            <a href="{% url 'delete_doctor' doctor.admin.id %}"
                                               class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    {% if is_paginated %}

                        <nav aria-label="Page navigation example" style="text-align: center;margin-left: 35%">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><span class="page-link"> {{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}