{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    View Doctors In Department<strong>{{ department.name }}</strong>
{% endblock page_title %}

{% block custom_css %}
    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>

{% endblock %}


{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="#" role="button">Return</a> <br/>&nbsp;

            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Doctors details</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                           placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Department</th>
                                    <th>Office_number</th>
                                    <th>Email</th>
                                    <th>Profile_pic</th>
                                    <th>Age</th>
                                    <th>Contact number</th>
                                    <th>Created time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for doctor in doctors %}
                                    <tr class="text-center">
                                        <td>{{ doctor.id }}</td>
                                        <td>{{ doctor.admin.first_name }}</td>
                                        <td>{{ doctor.admin.last_name }}</td>
                                        <td>{{ doctor.department }}</td>
                                        <td>{{ doctor.office_number }}</td>
                                        <td>{{ doctor.admin.email }}</td>
                                        <td><img src="{{ doctor.profile_pic }}" style="width: 100px;height: auto"></td>
                                        <td>{{ doctor.age }}</td>
                                        <td>{{ doctor.contact_number }}</td>
                                        <td>{{ doctor.created_at }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}