{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Add Doctor
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Doctor</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% comment %} Displaying the Django Form using forms.py EditStudentForm {% endcomment %}
                    {% url 'add_doctor_save' as action_path %}
                    {% include 'admin_templates/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Doctor" %}

                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}


{#{% extends 'admin_templates/base_template.html' %}#}
{##}
{#{% block page_title %}#}
{#    Add Doctor#}
{#{% endblock page_title %}#}
{##}
{#{% block main_content %}#}
{##}
{#    {% load static %}#}
{##}
{#    <section class="content">#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <!-- general form elements -->#}
{#                    <div class="card card-primary">#}
{#                        <div class="card-header">#}
{#                            <h3 class="card-title">Add Doctor</h3>#}
{#                        </div>#}
{#                        <!-- /.card-header -->#}
{#                        <!-- form start -->#}
{#                        <form role="form" enctype="multipart/form-data" method="POST" action="{% url 'add_doctor_save' %}">#}
{#                            {% csrf_token %}#}
{##}
{#                            {% if messages %}#}
{#                                <div class="form-group">#}
{#                                    <div class="col-12">#}
{#                                        {% for message in messages %}#}
{#                                            {% if message.tags == "error" %}#}
{#                                                <div class="alert alert-danger alert-dismissible fade show" role="alert"#}
{#                                                     style="margin-top: 10px;">#}
{#                                                    {{ message }}#}
{#                                                    <button type="button" class="close" data-dismiss="alert"#}
{#                                                            aria-label="Close">#}
{#                                                        <span aria-hidden="true">&times;</span>#}
{#                                                    </button>#}
{#                                                </div>#}
{#                                            {% elif message.tags == "success" %}#}
{#                                                <div class="alert alert-success alert-dismissible fade show"#}
{#                                                     role="alert" style="margin-top: 10px;">#}
{#                                                    {{ message }}#}
{#                                                    <button type="button" class="close" data-dismiss="alert"#}
{#                                                            aria-label="Close">#}
{#                                                        <span aria-hidden="true">&times;</span>#}
{#                                                    </button>#}
{#                                                </div>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
{##}
{#                            <div class="card-body">#}
{#                                <div class="form-group">#}
{#                                    <label>email</label>#}
{#                                    <input type="text" class="form-control" name="email" placeholder="Enter email"#}
{#                                           id="id_email" value="123@qq.com">#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>contact_number</label>#}
{#                                    <input type="text" class="form-control" name="contact_number"#}
{#                                           placeholder="Enter contact_number"#}
{#                                           id="id_contact_number" value="1347823019">#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>password</label>#}
{#                                    <input type="text" class="form-control" name="password" placeholder="password"#}
{#                                           id="id_password" value="123">#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>Age</label>#}
{#                                    <input type="text" class="form-control" name="age" placeholder="age" id="id_age"#}
{#                                           value="21">#}
{#                                </div>#}
{##}
{##}
{#                                <div class="form-group">#}
{#                                    <label>firstname</label>#}
{#                                    <input type="text" class="form-control" name="firstname" placeholder="firstname"#}
{#                                           id="id_firstname" value="Bingxiong">#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>lastname</label>#}
{#                                    <input type="text" class="form-control" name="lastname" placeholder="lastname"#}
{#                                           id="id_lastname" value="Li">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Office Number</label>#}
{#                                    <input type="text" class="form-control" name="office_number"#}
{#                                           placeholder="office_number"#}
{#                                           value="A4-203">#}
{#                                </div>#}
{##}
{##}
{#                                <div class="form-group">#}
{#                                    <label>Department</label>#}
{#                                    <select name="department" class="form-control">#}
{#                                        {% for department in departments %}#}
{#                                            <option value="{{ department.id }}">{{ department.name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label>Profile Picture</label>#}
{#                                    <input type="file" class="form-control custom-control-default-hover"#}
{#                                           name="profile_pic"#}
{#                                           placeholder="profile_pic" id='id_profile_pic'#}
{#                                           value="{{ doctor.profile_pic }}">#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- /.card-body -->#}
{##}
{#                            <div class="card-footer">#}
{#                                <button type="submit" class="btn btn-primary " style="font-size:15px">Add Patient#}
{#                                </button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                    <!-- /.card -->#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div><!-- /.container-fluid -->#}
{#    </section>#}
{##}
{#{% endblock main_content %}#}
{##}
{#{% block custom_js %}#}
{#    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}#}
{##}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            // keyup event will be triggered when user leaves keyboard#}
{#            $("#id_email").keyup(function () {#}
{#                var email = $(this).val();#}
                {#console.log("yes")#}
{#                if (email != "") {#}
{#                    $.ajax({#}
{#                        url: '{% url 'check_email_exist' %}',#}
{#                        type: 'POST',#}
{#                        data: {email: email}#}
{#                    })#}
{#                        .done(function (response) {#}
{#                            console.log(response);#}
{##}
{#                            if (response == "True") {#}
{#                                $(".email_error").remove();#}
{#                                $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Not Available. </span>").insertAfter("#id_email")#}
{#                            } else {#}
{#                                $(".email_error").remove();#}
{#                                $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#id_email")#}
{#                            }#}
{#                        })#}
{##}
{#                        .fail(function () {#}
{#                            console.log("Failed");#}
{#                        })#}
{#                } else {#}
{#                    $(".email_error").remove();#}
{#                }#}
{##}
{#            })#}
{##}
{#            $("#id_username").keyup(function () {#}
{#                var username = $(this).val();#}
{##}
{#                if (username != "") {#}
{#                    $.ajax({#}
{#                        url: '{% url 'check_username_exist' %}',#}
{#                        type: 'POST',#}
{#                        data: {username: username}#}
{#                    })#}
{#                        .done(function (response) {#}
{#                            //console.log(response);#}
{##}
{#                            if (response == "True") {#}
{#                                $(".username_error").remove();#}
{#                                $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Username Not Available. </span>").insertAfter("#id_username")#}
{#                            } else {#}
{#                                $(".username_error").remove();#}
{#                                $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Username Available. </span>").insertAfter("#id_username")#}
{#                            }#}
{#                        })#}
{##}
{#                        .fail(function () {#}
{#                            console.log("Failed");#}
{#                        })#}
{#                } else {#}
{#                    $(".username_error").remove();#}
{#                }#}
{##}
{#            })#}
{##}
{#            $("#id_contact_number").keyup(function () {#}
{#                var contact_number = $(this).val();#}
{##}
{#                if (contact_number != "") {#}
{#                    $.ajax({#}
{#                        url: '{% url 'check_contact_number_exist' %}',#}
{#                        type: 'POST',#}
{#                        data: {contact_number: contact_number}#}
{#                    })#}
{#                        .done(function (response) {#}
{#                            //console.log(response);#}
{##}
{#                            if (response == "True") {#}
{#                                $(".username_error").remove();#}
{#                                $("<span class='username_error' style='color: red; padding: 5px; font-weight: bold;'> Contact_number Not Available. </span>").insertAfter("#id_contact_number")#}
{#                            } else {#}
{#                                $(".username_error").remove();#}
{#                                $("<span class='username_error' style='color: green; padding: 5px; font-weight: bold;'> Contact_number Available. </span>").insertAfter("#id_contact_number")#}
{#                            }#}
{#                        })#}
{##}
{#                        .fail(function () {#}
{#                            console.log("Failed");#}
{#                        })#}
{#                } else {#}
{#                    $(".username_error").remove();#}
{#                }#}
{##}
{#            })#}
{#        })#}
{#    </script>#}
{##}
{#{% endblock custom_js %}#}