{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
     &nbsp  Manage Rooms
{% endblock page_title %}

{% block custom_css %}
    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>

{% endblock %}


{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 4px">Room Details</h3>&nbsp&nbsp
                            <a class="btn btn-outline-primary btn-sm " href="{% url "add_room" %}" role="button">+
                                Add Room</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr class="text-center">
                                    <th>Room</th>
                                    <th>Patient</th>
                                    <th>Nurse</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for room in page_obj %}
                                    <tr class="text-center">
                                        <td>{{ room.id }}</td>
                                        <td>{{ room.patient.admin.username }}</td>
                                        <td>{{ room.nurse }}</td>
                                        <td>
                                            <a href="{% url 'edit_room' room.id %}" class="btn btn-success">Edit</a>
                                            <a href="{% url 'delete_room' room.id %}"
                                               class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    {% if is_paginated %}

                        <nav aria-label="Page navigation example" style="text-align: center;margin-left: 35%">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                {% endif %}

                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active"><span class="page-link"> {{ i }} <span
                                                class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}