{% extends 'doctor_templates/base_template.html' %}

{% block page_title %}
    &nbsp Appointment
{% endblock page_title %}


{% block custom_css %}
    <style>
        .table tbody tr td {
            vertical-align: middle;
        }

    </style>

{% endblock %}


{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">


            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="padding-top: 4px">Appoinment List</h4>&nbsp&nbsp

                            <div class="card-tools">

                                {% csrf_token %}
                                <form method='get' action="{% url 'patient_search' %} ">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="q" class="form-control float-right"
                                               placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">

                            {% if appointments == False %}
                            <p align="center" >No appointments </p>
                            <p align="center">Have a nice day </p>
                                {% else %}
                                <table class="table table-hover text-nowrap ">

    <!--                            <table class="table table-hover text-nowrap ">-->
                                    <thead>
                                    <tr class="text-center">

                                        {#                                    <th>ID</th>#}
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Address</th>
                                        <th>Contact_number</th>
                                        <th>Prescription</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for appoint in appointments %}
                                        {% for patient in patients %}
                                            {% if patient.admin.username == appoint.patient %}

                                                <tr class="text-center">

                                                    <td>{{ patient.admin.username }}</td>
                                                    <td>{{ patient.age }}</td>
                                                    <td>{{ patient.address }}</td>
                                                    <td>{{ patient.contact_number }}</td>
                                                    <td>{{ appoint.prescription }}</td>

                                                    <td>
                                                        <a href="{% url 'edit_prescription'  appoint.id %}"
                                                   class="btn btn-success">Prescribe</a>
                                                        <a href="{% url 'done_prescription' appoint.id %}"
                                                   class="btn btn-danger">Done</a>

                                                    </td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}
